src/flows/UM_ProductInterestToOpportunity-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assOpprtunityIdPI</name>
        <label>assOpprtunityIdPI</label>
        <locationX>466</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>sovProductInterest.UM_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sovOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assProductInterestAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assProductInterestAssigned</name>
        <label>assProductInterestAssigned</label>
        <locationX>482</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>socvProductInterestAssigned</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sovProductInterest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPI</targetReference>
        </connector>
    </assignments>
    <interviewLabel>UM_ProductInterestToOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UM_ProductInterestToOpportunity</label>
    <loops>
        <name>loopPI</name>
        <label>loopPI</label>
        <locationX>181</locationX>
        <locationY>300</locationY>
        <assignNextValueToReference>sovProductInterest</assignNextValueToReference>
        <collectionReference>socvProductInterest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assOpprtunityIdPI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fupProductInterest</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>flOpportunity</name>
        <label>flOpportunity</label>
        <locationX>168</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flProductInterest</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>sovOpportunity</outputReference>
        <queriedFields>LG_LeadId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>flProductInterest</name>
        <label>flProductInterest</label>
        <locationX>179</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPI</targetReference>
        </connector>
        <filters>
            <field>UM_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sovOpportunity.LG_LeadId__c</elementReference>
            </value>
        </filters>
        <object>UM_ProductInterest__c</object>
        <outputReference>socvProductInterest</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UM_Opportunity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>fupProductInterest</name>
        <label>fupProductInterest</label>
        <locationX>177</locationX>
        <locationY>511</locationY>
        <inputReference>socvProductInterestAssigned</inputReference>
    </recordUpdates>
    <startElementReference>flOpportunity</startElementReference>
    <variables>
        <name>socvProductInterest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UM_ProductInterest__c</objectType>
    </variables>
    <variables>
        <name>socvProductInterestAssigned</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UM_ProductInterest__c</objectType>
    </variables>
    <variables>
        <name>sovLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sovOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sovProductInterest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UM_ProductInterest__c</objectType>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
